@import url('./global-style.css');

.main-cdt{
    display: flex;
    flex-direction: row;
    color: #0d8509;
    margin: 30px;
    padding: 20px;
    padding-top: 100px;
    justify-content: space-around;
    background-color: #0d8509;
}
.container1 {
    display: flex;
    flex-direction: column;
    border: 5px#0d8509;
}
.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    
   
}


.container2 {
    display: flex;
    flex-direction: column;
    background: #e4fbc1;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(rgb(10, 3, 3));

}

/*Formulario*/

.header{
    display: flex;
    padding: 20px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    background: #b9ef68;
    border-radius:10px ;
}
.form{
    padding:10px;
}
.form-control{
    margin-bottom: 10px;
    padding: 3px;
    position: relative;
}
.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
border: 2px solid;
display: block;
border-radius:10px;
font-size: 14 px;
width: 100%;
padding: 5px;
background:#f9fdf4;
color: #0d8509;
border: #e4fbc1;
}

/*Botao do formulario de cadastro*/

.form button {
    background: #86C02E;
    border: #86C02E;
    color: #0d8509;
    font-size: 17px;
    width: 50%;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    margin-left: 250px;
    position: relative;
    
   
}


.form button:hover{
    background: #b9ef68;
    padding: 12px;
    border: 4px solid #86C02E;
}