* {
    font-family: 'PT Serif', 'Roboto';
    margin: 0;
    padding: 0;
}

body {
    display: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #F0FEDC;
   
}

/*LOGO*/
header {
    background-color: #E4FBC1;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.initial-logo {
    cursor: pointer;
}

/*BARRA DE PESQUISA*/

.search {
    background-color: #86C02E;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #EBECE9;
    width: 650px;

    &::placeholder {
        color: #EBECE9;
    }
}

.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

.buy img {
    width: 50px;
}

/*BARRA DE NAVEGAÇÃO*/

.nav-bar {

    background-color: #0D8509;
    height: 50px;

}

.navbar-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 50px;
}

.link-nav {
    text-decoration: none;
    color: #F0FEDC;
    font-size: 20px;
    height: 13px;
}

.nav-item:hover {
    background-color: #CDF68F;
    padding: 10px;
    border-radius: 4px;
}

.link-nav:hover {
    color: #0D8509;
}

li {
    padding: 10px;
}

/*BANNER*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-left {
    transform: scaleX(-1);
    width: 679px;
    height: 567px;
    object-fit: cover;
}

.img-right {
    width: 679px;
    height: 567px;
    object-fit: cover;
}

.main-ctt{
   display: flex;
   text-align: center;
   color: #0D8509;
   justify-content: space-around;
   flex-direction: column;
}


















.section-formulario{
    display: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    background: #E4FBC1;
    width:500px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.section-form{
    display: flex;
    flex-direction: column;
    width: 100px;
}

.form-label{
    color:#0D8509;
    font-size: 17px;
    margin-bottom: 4px;
}
.form-input{

}












