* {
  font-family: "PT Serif", "Roboto";
  margin: 0;
  padding: 0;
}

body {
  max-height: 100vh;
  background-color: #f0fedc;
}

/*HEADER*/

/*TOPO*/
header {
  background-color: #e4fbc1;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 80px;
}

.search {
  background-color: #86c02e;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #ebece9;
  width: 650px;

  &::placeholder {
    color: #ebece9;
  }
}

/*ICONES */

#iconsLaterais {
  width: 50px;
}

.usuario {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
}

.span-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.usuario a {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #044d02;
  font-size: 15px;
}

/*MENU*/

.nav-bg {
  background-color: #0d8509;
  height: 50px;
}

.nav-bar {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 80px;
  height: 50px;
}

.link-nav {
  text-decoration: none;
  color: #f0fedc;
  font-size: 18px;
  height: 13px;
  padding: 8px 16px;
}

.link-nav:hover {
  background-color: #cdf68f;
  padding: 8px 16px;
  border-radius: 4px;
}

.link-nav:hover {
  color: #0d8509;
}

/* FOOTER */

footer {
  background-color: #0d8509;
  padding: 40px 80px;
  font-size: 14px;
  color: #f0fedc;
}

.container-foot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container-foot a {
  color: #cdf68f;
  text-decoration: none;
}

.text-enunce {
  margin-top: 20px;
}

.text-copy {
  margin-top: 20px;
  font-weight: bold;
}

.title-footer {
  font-size: 16px;
  letter-spacing: 4px;
  margin-bottom: 20px;
  position: relative;
}

.title-footer::before {
  content: "";
  background-image: url("../imagens/footer/decorativo-footer.svg");
  display: inline-block;
  position: absolute;
  height: 8px;
  width: 24px;
  background-color: transparent;
  margin: 25px 0px;
}

.lista-footer {
  list-style: none;
}

.li-footer {
  padding: 6px 0px;
}

.icone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 6px 0px;
  color: #cdf68f;
}

.lista-footer span {
  padding-left: 2px;
}

.lista-footer img {
  height: 20px;
}
