* {
    font-family: 'PT Serif', 'Roboto';
    margin: 0;
    padding: 0;
}

body {
    background-color: #F0FEDC;
}

/*LOGO*/
header {
    background-color: #E4FBC1;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

/*BARRA DE PESQUISA*/

.search {
    background-color: #86C02E;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #EBECE9;
    width: 650px;

    &::placeholder {
        color: #EBECE9;
    }
}

.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

/*BARRA DE NAVEGAÇÃO*/

.nav-bar {

    background-color: #0D8509;
    height: 50px;

}

.navbar-nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 50px;
}

a {
    text-decoration: none;
    color: #F0FEDC;
    font-size: 20px;
    height: 13px;
}

li:hover {
    background-color: #CDF68F;
    padding: 10px;
    border-radius: 4px;
}

a:hover {
    color: #0D8509;
}

li {
    padding: 10px;
}

/*BANNER*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-left {
    transform: scaleX(-1);
    width: 679px;
    height: 567px;
    object-fit: cover;
}

.img-right {
    width: 679px;
    height: 567px;
    object-fit: cover;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.main-content-text h1 {
    color: #0D8509;
    font-size: 40px;
    /*text-align: center;*/
}

.btn-lg {
    background-color: #86C02E;
    outline: none;
    border: none;
    padding: 20px;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 24px;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.paragrafo {
    font-size: 24px;
}

.cards {
    gap: 30px;
    padding: 50px;
}

.sobre-empresa {
    padding: 33px 25px;
    
}

.first-card {
    background-color: #0D8509;
    color: #FFFFFF;
    width: 460px;
    height: 240px;
    left: 0px;
    top: 787px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 6px 8px #044D02;
}

.logo-first {
    display: flex;
    justify-content: center;
    align-items:first baseline;
}

.quali {
    text-align: center;

}

.click-me {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 20px;
}

.clicksaiba {
    text-align: center;
}

.clicksaiba:hover {
    color: #CDF68F;
    text-decoration: underline;
}

.frete-empresa {
    padding: 33px 25px;
}

.second-card {
    background-color: #0D8509;
    color: #FFFFFF;
    width: 460px;
    height: 240px;
    left: 0px;
    top: 787px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 6px 8px #044D02;
}

.logo-second {
    display: flex;
    justify-content: center;
    align-items:first baseline;
}

.frete-gratis {
    text-align: center;

}

.third-card {
    background-color: #0D8509;
    color: #FFFFFF;
    width: 460px;
    height: 240px;
    left: 0px;
    top: 787px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0px 6px 8px #044D02;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entrega-the {
    padding: 33px 25px;
}

.entrega-the {
    padding: 33px 25px;
}

.third-card {
    background-color: #0D8509;
    color: #FFFFFF;
    width: 460px;
    height: 240px;
    left: 0px;
    top: 787px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.logo-third {
    display: flex;
    justify-content: center;
    align-items:first baseline;
}

.entrega {
    text-align: center;
}

a .click {
    align-items: center;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 2%;
    border-radius: 10px;
    flex-direction: column;
    gap: 1rem;

}

.frase {
    color: #679227;
    font-family: 'PT Serif';
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

.text-cor {
    font-family: 'PT Serif';
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #0B3F09;
}

.henry {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #0B3F09;
    text-align: center;
}

.frutas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 9px;
}

.frutas-destaque {
    width: 1185px;
    height: 90px;
    left: 130px;
    top: 1309px;
    background: #CDF68F;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.frutas-destacadas {
    color: #0B3F09;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}

.produtos {
    background: #E4FBC1;
    border-radius: 0px 0px 4px 4px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1183px;
    height: 286px;
    left: 132px;
    top: 1399px;
    border-radius: 0px 0px 4px 4px;
}