@import url('./global-style.css');


.login-lg {
    background: url('/Imagens/quem-somos/fundo-quem-somos.png') no-repeat;
    height: 500px;
    position: relative;
    
}


.formulario {
    display: flex;
    position: absolute;
    margin-left: 32%;
    margin-top: 75px ;
    flex-direction: column;
    height: 300px;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    background: #e4fbc1;
    align-items: center;
    
   
}
.titulo {
    text-align: center;
    color: #0D8509;
    font-size: 25px;
}



.formulario label {
    
    color: #0D8509;
}
.formulario input{
    color: #0D8509;
    background: #f9fdf4;
    width: 180px;
    padding: 10px;
    border-radius: 10px;
}

.link {
    text-decoration: none;
    color: #0D8509;
}
 button {

    padding: 6px;
    color: #f9fdf4;
    background: #86C02E;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px 10px;
    border: 2px solid #86C02E;
}
button:hover {
    background: rgba(134, 192, 46, 0.9);
    padding: 8px;
    border: 2px solid #86C02E;
}

span{
    text-decoration: none;
    color: #0D8509;
}
.errorInput {
    border: 2px solid #e12a0a !important;
}
