@import url('./global-style.css');


.main-lg {
    
}
.container-lg {
   position: absolute;
   top: 50%;
   width: 75%;
   height: 550%;
   background: url('/Imagens/quem-somos/fundo-quem-somos.png') no-repeat;
   background: cover;
   background-position: center;
   left: 50%;
   border-radius: 20%;
   margin-top: 20%;

}