@import './global-style.css';

main {
background: url('/Imagens/quem-somos/fundo-quem-somos.png') no-repeat;
background-size: cover;
padding: 80px 200px;
}

.quem-somos  {
    background: #E4FBC1;
    padding: 40px 80px;
    border-radius: 8px;
}

h1  {
    font-family: 'PT Serif', sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: #0D8509;
    text-align: center;
    margin-bottom: 20px;
    }
    
 p  {
        line-height: 32px;
        margin: 15px;
    }
    
h2 strong {
    text-align: center;
}

